In [1]:
amt =0
num = 350

if num<100:
    amt=0
elif num>100 and num<=200:
    amt=(num-100)*5
elif num>=200:
    amt=500+(num-200)*10
print("Amount to pay",amt)



num = int(input("enter a number"))


if num%3==0:
    print("devided by 3")
else:
    print("not devisible by 3")

Amount to pay 2000
devided by 3

In [3]:
marks = int(input("Enter your marks: "))

if marks>90:
    print ("A")
elif marks<=90 and marks>=80:
    print ("B")
elif marks<=80 and marks>=60:
    print ("C")
elif marks>60:
    print ("D")

A

In [14]:
cost = int(input("enter the cost"))


if cost>100000:
    print ("15%")
elif cost<=100000 and cost>50000:
    print ("10%")
elif cost<=50000:
    print ("5%")565

10%

In [21]:
year = int(input("enter days"))


if year%4==0:
    print ("leap year")
else:
    print ("not a laep year")

not a laep year

In [23]:
num = int(input("enter number"))

if num==1:
    print("sunday")
elif num==2:
    print("monday")
elif num==3:
    print("tuesday")
elif num==4:
    print("wednesday")
elif num==5:
    print ("thursday")
elif num==6:
    print ("friday")
elif num==7:
    print ("saturday")

thursday

In [6]:
user = input("Enter the number: ")
length = len(user)

if length == 3:
    print("your Number is above than 3 digit")
else:
    print("Not")

your Number is above than 3 digit

In [20]:
#series
series = ["apple","banana","pine",5,6]

series
len(series)

series[2]



series[:-1]

['apple', 'banana', 'pine', 5]

#loop

In [3]:
for i in "Aman":
    print(i)

A
m
a
n

In [6]:
name = ["Aman","Anurag","Suryansh"]

for i in name:
    for y in i:
        print(y)

A
m
a
n
A
n
u
r
a
g
S
u
r
y
a
n
s
h

In [11]:
for i in range(2,10+1,2):
    print(i)

2
4
6
8
10

In [4]:
num = 0
name = ["Aman","Anurag","Suryansh"]
for i in name:
    num = num + 1

print(num)

3

In [3]:
list_num = [10,20,30,40]
for item in list_num:
    print(item)

10
20
30
40

In [1]:
n1 = 4
n2 = 6
sum = bool(n1)+float(bool(n2))+3
print(sum)

5.0

In [13]:
x = 55
y = 5
num = x/y
print(num)

11.0